{% extends "base.html" %}
{% block content %}
  <h1>Car: {{ car.model }}</h1>
  <p><strong>Manufacturer name:</strong> {{ car.manufacturer.name }}</p>
  <p><strong>Country:</strong> {{ car.manufacturer.country }}</p>
  <div class="ml-3">
    <h3>Drivers:</h3>
    {% for driver in car.drivers.all %}
      <hr>
      <p class="test-muted">{{ driver.id }}</p>
      <p class="test-muted">
        {{ driver.username }} ({{ driver.first_name }} {{ driver.last_name }})
      </p>
    {% empty %}
      <p>No drivers!</p>
    {% endfor %}
  </div>
{% endblock %}
