{% extends "base.html" %}
{% block content %}
  <h1>Driver: {{ driver.username }}</h1>
  <p><strong>First name:</strong> {{ driver.first_name }}</p>
  <p><strong>Last name:</strong> {{ driver.last_name }}</p>
  <p><strong>License number:</strong> {{ driver.license_number }}</p>
  <div class="ml-3">
    <h3>Cars:</h3>
    {% for car in driver.cars.all %}
      <hr>
      <p class="test-muted">{{ car.id }}</p>
      <p class="test-muted">{{ car.model }}</p>
      <p class="test-muted">{{ car.manufacturer.name }} manufacturer</p>
      <p class="test-muted">{{ car.manufacturer.country }}</p>
    {% empty %}
      <p>No cars!</p>
    {% endfor %}
  </div>
{% endblock %}
