{% extends "base.html" %}
{% block content %}
  <h1>Manufacturer list</h1>
  {% if manufacturer_list %}
    <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Country</th>
        </tr>
      {% for manufacturer in manufacturer_list %}
        <tr>
          <th>{{ manufacturer.name }}</th>
          <th>{{ manufacturer.country }}</th>
        </tr>
      {% endfor %}
    </table>
  {%  else %}
    <p>There are no manufacturer in database!</p>
  {% endif %}
{% endblock %}
