{% extends "base.html" %}
{% block content %}
  <h1>Manufacturer list</h1>
  {% if manufacturer_list %}
    <table class="table table-striped">
        <tr>
          <td><strong>Name</strong></td>
          <td><strong>Country</strong></td>
        </tr>
      {% for manufacturer in manufacturer_list %}
        <tr>
          <td>{{ manufacturer.name }}</td>
          <td>{{ manufacturer.country }}</td>
        </tr>
      {% endfor %}
    </table>
  {%  else %}
    <p>There are no manufacturer in database!</p>
  {% endif %}
{% endblock %}
